<div class="hero-unit">
	<div class="row-fluid">
		<div class="columnA pull-left">
<% provide(:title, 'About Us') %>
    <h2>About Us</h2>
        </div>
    <div class="columnB pull-right">
    <p>
Michael Martin is a licensed performance coach who is a member Professional Tennis Registry (P.T.R). He has been recognised for his ongoing drive and commitment in his sport by the sport’s governing body in the company. He is a hugely influential figure for developing the game in the highlands. </br> </br> 

In 2012 he won the Scottish coach of the year award, which was presented to him by the Scottish Tennis President. </br> </br> 

In 2006 he established the Mike Martin Tennis Academy in Inverness; it has developed each year and has a proven success rate of improving skills of new juniors at club, district, county and national level. His recent success has been in training children to the north of Scotland squad. Ewan McKinne is one of his protégés. The Academy caters for all ages from 3 years to adults of all abilities.</br> </br> 

Mike Martin Tennis Academy employs coaches who are Lawn Tennis Association (L.T.A) with numerous years of experience, these professional coaches maximise the potential of juniors and adults.</br></br>  

Currently running is a mini tennis program for junior novices from 3 – 6, in classes structured as 3-5 and 5-6. The skills taught are rallying, serve, coming to the net, scoring and competing. </br> </br> 

Video is used as a resource for:</br></br>  

•	Slow motion replay to analyse skills in detail</br> 
•	Developing models to assess patterns skills and good technique and compare performance</br> 
•	Tracking performance change to enable a coach to analyse a player’s performance and make change where appropriate. </br> 
•	Self Reflection to enable athletes to see their performance in reality as opposed to where they thought they were.</br> </br> 

There is also a racquet stringing service available. </br> 
</div>
</div>
    </p>
 </div>