<div class="hero-unit">

  <h2> Classes </h2>
      

   <p><b>"We want our players to be competitive and to learn how to compete with the right attitude. Tennis is a fantastic tool for children to learn such life skills as honesty, integrity and determination".</b> </p>

<div class="row-fluid">
  	<div class="columne pull-left"><img src="/assets/Players.png"/></div>

  	<div class="columnf pull-right">
   <p> Choosing the right course for your child is always the most important aspect of their tennis development. At the Mike Martin tennis academy, we make a special effort to ensure that players are grouped correctly together in order to maximize their progress.</br></br>

   	In order to decide which course is best suited to your child’s standard of play, we have devised an easy plan to help guide you through the process, please read through the section below on the structure of our tennis programme.</p>
</div></div>

<div class="row-fluid">
		<div class="columng pull-left">
    <p><b>1. Choosing the right age group</b></br>
    	Within our Academy program our classes are delivered over 4 separate age groups:</br></p></div></div>


<table border="1" width = "920">
<tr>
  <td>Class Name</td>
  <td>Age</td> 
  <td>Colour Code</td>
  <td>Ball Used</td>
  <td>Court Size</td>
</tr>
<tr>
  <td>Mini</td>
  <td>4-7yrs</td> 
  <td>Red</td>
  <td>Sponge / Red</td> 
  <td>Mini Court</td>
</tr>
<tr>
  <td>Junior</td>
  <td>7-9yrs</td> 
  <td>Orange</td>
  <td>Orange</td> 
  <td>¾ Court</td>
</tr>
<tr>
  <td>Development</td>
  <td>10-13yrs</td> 
  <td>Blue</td>
  <td>Green and Yellow</td> 
  <td>Full Court</td>
</tr>
<tr>
  <td>Transition</td>
  <td>14-17yrs</td> 
  <td>Green</td>
  <td>Yellow</td> 
  <td>Full Court</td>
</tr>
</table>

  
</div>
