<div class="hero-unit">
<% provide(:title, 'Contact') %>
<h2>Contact</h2>
<p>
Mike Martin Tennis Academy</br>
5 Bishop’s Road</br>
IV3 5SB</br>
Inverness</br>
 
**maybe embed google map location**
 
Phone: 07795323245</br>
Email: miketenniscoach@gmail.com (make this a link –  href:’mailto:miketenniscoach@gmail.com’>miketenniscoach@gmail.com</br>
 
Or contact us on Facebook. (facebook.com/mikemartintennisaccademy)</br>
Or tweet us @miketenniscoach</br>
 
Icon link maybe for fb and twitter</br>
 
Hours:</br>
 
Mon – Fri: 07:00 – 22:00</br>
Sat: 07:00 – 18:00</br>
Sun: 10:00 – 18:00</br>
</p>
</div>
