<div class="hero-unit">
<% provide(:title, 'Contact') %>

<div class="row-fluid">
  	<div class="columna pull-left">
  <p><b>Contact Us</b></p>		
  <p> Do you have any enquiries about this Academy? Fill out the form below, give us a call, or stop in and tell us about it.</p>
</div>

   

<div class="row-fluid">
		<div class="columnc pull-left">
			<p><b>Info</b></p>		
  <p>Mike Martin Tennis Academy</br></br>
	5 Bishop’s Road</br></br>
	Inverness</br></br>
	IV3 5SB</br></br>
	Phone: 07795323245</br></br>
	Email: miketenniscoach@gmail.com</br></br>
	Or contact us on Facebook and twitter</br></br>
	Hours: Mon-Sun 9.00am-22.00pm</br></br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2145.3615999136073!2d-4.2325!3d57.47217719999986!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488f71576bcf16bb%3A0xa9dddb0e2d9ebc28!2s5+Bishops+Rd!5e0!3m2!1sen!2suk!4v1398371299284" width="300" height="222" frameborder="0" style="border:0"></iframe>
</br> </p> 
</div>
		
<div class="columnh pull-right">
					
  <p><!DOCTYPE html>
<html>
<body>


<form action="MAILTO:p.cowan@dundee.ac.uk" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" value="your name"><br>
E-mail:<br>
<input type="text" name="mail" value="your email"><br>
Subject:<br>
<input type="text" name="mail" value="your subject"><br>
Comment:<br>
<input type="text" name="comment" value="your comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html> </p> 
		</div>
    



	</div>


</div>


</div>
 

</p></p>