
<div class="hero-unit">
  <img src="/assets/logo.png"/>
  <div class="row-fluid">
  	<div class="columnA pull-left"></br>
  <p><b>Latest News</b></p>		
  <p>Mike Martin Tennis Academy has been running in Inverness since 2006. It has grown from strength to strength each year and has a consistent track record of developing promising new juniors at club, district, county and national level. We coach juniors from 3+ and adults of all ages - whether a complete beginner or experienced player. Mike Martin is a LTA Licensed Performance Coach and PTR Instructor. </p></div>

    <div class="columnB pull-right"></br>
  <a class="twitter-timeline" width = "250" height = "250" href="https://twitter.com/miketenniscoach" data-widget-id="459306198429233154">Tweets by @miketenniscoach </a>
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
 


</div>
</div>

