<div class="hero-unit">
  <h2>Weekly Program</h2>
  <body>
  	<table border="1" style="width:920px">
<tr>
  <td>Day</td>
  <td>4pm-5pm</td>
  <td>5pm-6pm</td>
  <td>6pm-7pm</td>
  <td>7pm-8pm</td>
</tr>

<tr>
  <td>Monday</td>
  <td>Mini 1-2</td> 
  <td>Jnr 1-Adv</td>
  <td>Dev 1-2</td>
  <td>Trans 1-2</td>
</tr>

  <tr>
  <td>Tuesday</td>
  <td>no classes</td>
  <td>no classes</td>
  <td>no classes</td>
  <td>no classes</td>
</tr>

  <tr>
  <td>Wednesday</td>
  <td>Jnr 2</td>
  <td>Dev 1-2</td>
  <td>Trans 1-2</td>
  <td>Match Play</td>
</tr>

  <tr> 
  <td>Thursday</td>
  <td>Jnr 1-Adv</td>
  <td>Dev 1-2</td>
  <td>Trans 1-2</td>
  <td>Trans Elite</td>
</tr>

  <tr>
  <td>Friday</td>
  <td>Jnr 1-Adv</td>
  <td>Dev 1-2</td>
  <td>Trans 1-2</td>
  <td>Trans Elite</td>
</tr>

  <tr> 
  <td>Saturday</td>
  <td>Jnr Matchplay</td>
  <td>Dev Matchplay</td>
  <td>Trans Matchplay</td>
  <td>Elite Matchplay</td>
</tr>

  <tr> 
  <td>Sunday</td>
  <td>Jnr 1-Adv</td>
  <td>Dev 1-2</td>
  <td>no classes</td>
  <td>no classes</td>
</tr>


</table>
  </body>

  
</div>
