<div class="hero-unit">
<% provide(:title, 'All Events') %>
<h2>All Events</h2>

<body>
<%= will_paginate %>

<ul class="events">
    <%= render @events %>
</ul>

<%= will_paginate %>


</body>

</div>